@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./base/base";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/index";
@import "./pages/menu";
@import "./components/buttons";
@import "./components/cards";
@import "./components/labels";
@import "./components/loader";
@import "./components/labels-animation";



    
@media (min-width:1200px) {


    section {
        padding-left: 10%;
        padding-right: 10%;
    }

    .function_menu {
        flex-direction: row;
    
      }

    .btn-large {
        min-width: 250px;
        max-width: 500px;
    }

    .cards_list {
        gap: 50px;
    }

    .cards_list_part {
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
    }

    .card {
        width: 100%;
    }

    footer {
        flex-direction: row-reverse;
        gap: 60px;

        & ul {
            flex-direction: row;
            align-items: center;
           gap: 40px;
        }
    }

    .menu {
        margin: auto;
        margin-bottom: -80px;
        width: 635px;
        padding-left: 210px;
        padding-right: 210px;
        bottom:80px;

        &_title {
            justify-content: center;
            gap: 30px;
        }

        &_image{
            height: 450px;
        }
    
    }

}



