 .btn {
     width: 218px;
     height: 50px;
     border-radius: 25px;
     border: none;
     color: white;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
     background: $gradient-color;
     cursor: pointer;
     z-index: 1;
     position: relative;

     &:hover {
         &::after {
             opacity: 1;
         }
     }

     &::after {
         border-radius: 25px;
         @include pseudo-pos;
         background: $gradient-color-light;
         transform: matrix(1, 0, 0, -1, 0, 0);
         opacity: 0;
         z-index: -1;
         transition: opacity 400ms, transform 500ms;
     }
 }

 .btn-large {
     display: flex;
     align-items: center;
     padding: 28px 0px 28px 40px;
     gap: 27px;
     position: relative;
     right: 12px;
     background: $color-bg-light;
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
     border-radius: 20px;
     width: 80%;
     z-index: 0;

     &:hover {
         &::after {
             opacity: 1;
         }

         & i {
            color: $color-primary;
         }
     }

     &::after {
         border-radius: 20px;
         @include pseudo-pos;
         background: lighten($color-primary, 30%);
         opacity: 0;
         z-index: -1;
         transition: opacity 400ms;
     }
 }

 .btn-large i {
    color: #7e7e7e;
}


 .list-nbr {
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     z-index: 1;
     width: 24px;
     height: 24px;
     background: $color-primary;
     border-radius: 50%;
 }