 .btn {
   width: 218px;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   border-radius: 2em;
   border: none;
   color: white;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
   background: $gradient-color;
   cursor: pointer;
   z-index: 1;
   position: relative;

   &:hover {
     &::after {
       opacity: 1;
     }
   }

   &::after {
     border-radius: 25px;
     @include pseudo-pos;
     background: $gradient-color-light;
     box-shadow: 0px 4px 10px darken(rgba(0, 0, 0, 0.25), 10%);
     transform: matrix(1, 0, 0, -1, 0, 0);
     opacity: 0;
     z-index: -1;
     transition: opacity 400ms, transform 500ms;
   }
 }

 .function_menu li {
   display: flex;
   align-items: center;
   width: 100%;
   position: relative;
   right: 12px;

 }

 .btn-large {
   position: relative;
   display: flex;
   align-items: center;
   padding: 28px 10px 28px 40px;
   gap: 27px;
   background: $color-bg-light;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   z-index: 0;
   width: 100%;



   & i {
     color: #7e7e7e;
   }

   &:hover {
     &::after {
       opacity: 1;
     }

     & i {
       color: $color-primary;
     }
   }

   &::after {
     border-radius: 20px;
     @include pseudo-pos;
     background: lighten($color-primary, 30%);
     box-shadow: 0px 4px 15px darken(rgba(0, 0, 0, 0.15), 20%);
     opacity: 0;
     z-index: -1;
     transition: opacity 400ms;
   }
 }



 .list_nbr {
   position: relative;
   left: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   z-index: 1;
   min-width: 24px;
   min-height: 24px;
   text-align: center;
   background: $color-primary;
   border-radius: 50%;
   margin: 0;
   padding: 0;
 }

 .btn_heart {
   display: grid;
   border: none;
   background: none;
   font-size: 22px;
   margin: auto;

   &:hover .fa-solid {
     opacity: 1;
     transform: scale(1);
   }

   &:hover .fa-regular {
     opacity: 0;
   }

   &:active .fa-solid {
    opacity: 1;
    transform: scale(1.5);
   }

   & .fa-regular {
     grid-column: 1 / 3;
     grid-row: 1 / 3;
   }

   & .fa-solid {
     grid-column: 1 / 3;
     grid-row: 1 / 3;
     opacity: 0;
     z-index: 1;
     background: $gradient-color-light;
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     transform: scale(0.5);
     transition: opacity 300ms ease-in-out, transform 300ms ease-in-out 50ms;
   }
 }