.menu_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 4.01149px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
}