$nbr_slides:10;

.menu {
    overflow: hidden;
}

.slide{
    @for $i from 1 through $nbr_slides {
        &--#{$i} {
            animation: slide 1s ease-in-out both;
            animation-delay: 100ms * $i;
        }
    }
}


@keyframes slide {
    from {
        transform: translate(150%) scale(1.1)
    }

    60% {
        transform: translate(-15px) scale(1.1)
    }

    80% {
        transform: translate(0) scale(1.1)
    }

    to {
        transform: translate(0) scale(1)
    }
}