body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1, .menu_title h2 {
    font-family: 'Shrikhand', cursive;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.location {
    font-weight: 500;
    font-size: 16px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.btn , .function_menu {
    font-weight: 500;
    font-size: 16px;    
}

.card_title {
    font-weight: 700;
    font-size: 18px;
}

.card_subtitle {
    font-weight: 300;
    font-size: 17px;
}

.badge_new  {
    font-weight: 500;
    font-size: 14px;
}

footer {
    font-weight: 400;
    font-size: 16px;
    
    & h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 18px;
    }

    & h3 {
        font-weight: 500;
    }

}

.menu_subtitle {
    font-size: 16px;
    font-weight: 300;
}

.menu_label{
    & h2 {
        font-size: 18px;
        font-weight: 500;
    }

    & p {
        font-size: 15px;
        font-weight: 300;
    }

    & h3 {
        font-size: 15px;
        font-weight: 700;
    }
}